:root {
    --primary: #d6dddd;
    --dark: #080808;
    --light: #f7f7f7;
}

.blog_container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "blog_x link";
}

.blog_x {
    grid-area: blog_x;
    min-height: 100px;
    background-image: url("../images/blog1.jpg");
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: var(--primary);
    text-align: justify;
    padding: 1.5rem 2rem;
}

.blog_x h2 {
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--dark);
    padding: auto;
}

.blog_x h5 {
    font-size: 1rem;
    margin-bottom: 0;
    color: var(--dark);
    padding: auto;
}

.blog_x p {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: var(--dark);
    justify-content: space-between;
}

.link {
    grid-area: link;
    min-height: 100px;
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: var(--primary);
    text-align: center;
    padding: 1.5rem 2rem;
}


/* Media Queries */

@media (max-width: 700px) {
    .blog_container {
        grid-template-areas: "blog_x link";
    }
}

@media (max-width: 500px) {
    .blog_container {
        grid-template-areas: "blog_x" "link";
    }
}