:root {
    --primary: #d6dddd;
    --dark: #080808;
    --light: #f7f7f7;
}

.blog_container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "blog_x profile" "blog_x link";
}

.blog_x {
    grid-area: blog_x;
    min-height: 100px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    background: var(--primary);
    text-align: justify;
}

.blog_x h2 {
    font-size: 2rem;
    margin-bottom: 0;
    color: var(--dark);
    padding: auto;
}

.blog_x h5 {
    font-size: 1rem;
    margin-bottom: 0;
    color: var(--dark);
    padding: auto;
}

.blog_x blockquote {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: var(--dark);
    justify-content: space-between;
}

.link {
    grid-area: link;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background: var(--primary);
}

.profile {
    grid-area: profile;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--primary);
    text-align: justify;
    padding: 1.5rem 2rem;
    justify-content: centre;
}

.profile p {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: var(--dark);
    justify-content: space-between;
}

/* Media Queries */

@media (max-width: 700px) {
    .blog_container {
        grid-template-areas: "blog_x profile" "blog_x link";
    }
}

@media (max-width: 500px) {
    .blog_container {
        grid-template-areas: "blog_x blog_x" "profile link";
    }
}
