footer {
  text-align: center;
  font-size: 1.7em;
  width: 100%;
  background-color: #24292f;
  margin-top: 2em;
  color: #f6f8fa;
}

a {
  color: rgb(73, 152, 204);
}

@media screen and (max-width: 700px) {
  footer {
    font-size: 1.1em;
  }
}
