<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Journal</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./styles/style.scss"> -->
  </head>

  <body>
    <div id="app">
      <header>
        <div class="holder headline">TRAVEL APP</div>
      </header>
      <div class="containerEntry">
        <div class="holder location">
          <label for="loc">My Trip To</label>
          <input type="text" id="loc" placeholder="Enter city eg Sydney ">
        </div>
        <div class="holder date">
          <label for="depart">Departing Date</label>
          <input type="date" id="depart">
        </div>

        <!-- <div class="dropdown">
          <label for="temp">Choose temperature</label>
          <select name="temp" id="dropdownContent">
            <option value="Celsius">Celsius</option>
            <option value="Fahrenheit">Fahrenheit</option>
            <option value="Kelvin">Kelvin</option>
          </select>
        </div>
        <div class="holder feel">
          <label for="feelings">How are you feeling today?</label>
          <textarea class="myInput" id="feelings" placeholder="Enter your feelings here" rows="9" cols="50"></textarea>
          <div> -->
            <button id="generate" type="submit"> Done </button>
          </div>
        </div>
      </div>
      <div class="holder entry">
        <div class="title">My Trip</div>
        <div id="entryHolder">
          <div id="res_trip">My trip to  aaa</div>
          <div id="res_depart_date">Departure date:  aaa</div>
          <div id="flight_info"> flight info : MH 3:00 Flight 11 Quantas Airlines </div>
          <div id="days_away">Xyz is x days away aaa </div>
          <div id="high_temp">High temp aaa </div>
          <div id="low_temp">Low temp aaa  </div>
          <div id="day_review">Most cloudy  xyz Cloudy aaaa </div>

          <div id="date">My trip to </div>
          <div id="temp">Temperature: </div>
          <div id="content">How are you feeling?: </div>
          <div id="country">Country  is :</div>
        </div>
      </div>
    </div>
    <footer class='footerJournal'>
      <p>Travel app created and designed by Kripa &copy; 2021</p>
    </footer>
    <!-- <script src="./js/app.js" type="text/javascript"></script> -->

  </body>

</html>