<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>

        <header>
            <div class="title">
                <h1>Evaluate The Sentiment of The News Website Using Advanced Natural Language Processing</h1>
            </div>
        </header>
        <section class="intro">
            <img src="../assets/nlp.jpg" alt="NLP image" class="intro-img">
        </section>
        <main>
            <section class="sec">
                <form class="form" onsubmit="return Client.handleSubmit(event)">
                    <input id="url" type="text" name="input" value="" placeholder="Add a URL to a news article">
                    <input id="submit" type="submit" name="Submit" value="Analyse the text"
                        onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <div class="resultSection" id="results">

                    <h2 id="evaluateId">Evaluation of Results:</h2>
                    <p id="error"></p>
                    <p id="current_url"></p>
                    <p id="sentiment"></p>
                    <p id="agreement"></p>
                    <p id="subjectivity"></p>
                    <p id="confidence"></p>
                    <p id="irony"></p>
                </div>
            </section>
        </main>

        <footer>
            <p>Read more about Meaning Cloud <a
                    href="https://learn.meaningcloud.com/developer/sentiment-analysis/2.1/doc" target="_blank">here</a>.
            </p>
            <p>&copy; 2021 <a href="https://github.com/kripau" target="_blank">Kripa</a></p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker
                        .register('src/client/service-worker.js')
                        .then(reg => console.log('Service Worker : Registered'))
                        .catch(err => console.log(`Service Worker: Error : ${err}`))
                });
            }
        </script>
    </body>

</html>